<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sicomre</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Bebas+Neue&family=Pacifico&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css"> <!-- Enlace al archivo CSS -->
    <link rel="stylesheet" href="css/acudiente.css">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <!-- CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css"/>
     <!-- Default theme -->
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css"/>
         <!-- Enlace al archivo CSS -->
    <link rel="stylesheet" href="css/acudiente.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <style>
        .modal-body .mb-3 label {
            text-align: left;
            display: block;
            width: 100%;
        }
        .fa-eye {
            cursor: pointer;
        }
        body{
            background-color: #063780;
        }
        .fila-inactiva { /* Clase para filas inactivas */
            background-color: gray; /* Color de fondo gris */
        }
    </style>
</head>
<body>
    <header></header>
    <nav></nav>
    <main>
        <!-- Registro de Monitoras -->
        <section id="monitora" class="my-4">
            <div class="info-card">
                <input type="text" id="busqueda" placeholder="Buscar por Apellido o identificación" class="form-control mb-3">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h2><i class="fas fa-user-tie"></i> Registro de Estudiantes</h2>
                    <button id="btnRegisterStudent" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalMonitora"><i class="fas fa-plus"></i> Registrar Estudiante</button>
                </div>
                <table id="studentTable" class="table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nombres Completos</th>
                            <th>Apellidos Completos</th>
                            <th>Tipo Identificación</th>                                
                            <th>No. Identificación</th>
                            <th>Fecha de Nacimiento</th>
                            <th>Edad</th>
                            <th>Curso</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
                <div id="registerStudent" class="modal fade" tabindex="-1" aria-labelledby="modalMonitoraLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header bg-primary text-white">
                                <h1 class="modal-title fs-5" id="modalMonitoraLabel">Registrar Estudiante</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">    
                                </button>
                            </div>
                            <div class="modal-body">
                                <form id="studentForm">
                                    <div class="mb-3">
                                        <label for="NombreEst">Nombres Completos:</label>
                                        <input type="text" class="form-control" id="NombreEst" placeholder="Nombre completo" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="ApellidosEst">Apellidos Completos:</label>
                                        <input type="text" class="form-control" id="ApellidosEst" placeholder="Apellido completo" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="TipoIdentificacion">Tipo Identificación:</label>
                                        <select class="form-control" id="TipoIdentificacion" required>
                                            <option value="">Seleccione un tipo de identificación</option>
                                            <option value="T.I">T.I</option>
                                            <option value="C.C">C.C</option>
                                            <option value="R.C">R.C</option>
                                            <option value="P.I">Pasaporte</option>
                                        </select>
                                    </div>
                                    <div class="mb-3">
                                        <label for="NoIdentificacion">Número Identificación:</label>
                                        <input type="number" class="form-control" id="NoIdentificacion" placeholder="Número Identificación" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="FechaNacimiento">Fecha de Nacimiento:</label>
                                        <input type="date" class="form-control" id="FechaNacimiento" placeholder="Fecha de Nacimiento" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="Curso">Curso:</label>
                                        <select class="form-control" id="cursoSelect" required>
                                            <option value="">Selecciona el curso:</option>
                                            <option value="01">01</option>
                                            <option value="02">02</option>
                                            <option value="101">101</option>
                                            <option value="102">102</option>
                                            <option value="201">201</option>
                                            <option value="202">202</option>
                                            <option value="301">301</option>
                                            <option value="302">302</option>
                                            <option value="303">303</option>
                                            <option value="401">401</option>
                                            <option value="402">402</option>
                                            <option value="403">403</option>
                                            <option value="501">501</option>
                                            <option value="502">502</option>
                                            <option value="503">503</option>
                                            <option value="601">601</option>
                                            <option value="602">602</option>
                                            <option value="603">603</option>
                                            <option value="701">701</option>
                                            <option value="702">702</option>
                                            <option value="703">703</option>
                                            <option value="801">801</option>
                                            <option value="802">802</option>
                                            <option value="803">803</option>
                                            <option value="901">901</option>
                                            <option value="902">902</option>
                                            <option value="903">903</option>
                                            <option value="1001">1001</option>
                                            <option value="1002">1002</option>
                                            <option value="1003">1003</option>
                                            <option value="1101">1101</option>
                                            <option value="1102">1102</option>
                                            <option value="1103">1103</option>
                                        </select>
                                    </div>
                                </form> 
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                <button type="submit" class="btn btn-primary" form="studentForm">Guardar</button>
                            </div>
                        </div>
                    </div>
                </div>
        </section>
    </main>
    <footer></footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        <!--Alert-->
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="JS/crudEScript.js"></script>
    <script src="JS/script3.js"></script>
</body>
</html>
