<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sicomre</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Bebas+Neue&family=Pacifico&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css"> <!-- Enlace al archivo CSS -->
    <link rel="stylesheet" href="css/login.css">
</head>
<body>
    <header></header>
    <nav></nav>
    <main>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-6">
                    <div class="login-form">
                        <h3 class="login-titulo">Iniciar Sesión</h3>
                        <form id="loginForm">
                            <div class="form-group">
                                <label class="form-label" for="usuario">Usuario</label>
                                <input type="text" class="form-control" id="usuario" name="Usuario" placeholder="Ingresa tu usuario" required>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="contraseña">Contraseña</label>
                                <input type="password" class="form-control" id="contraseña" name="Contraseña" placeholder="Ingresa tu contraseña" required>
                            </div>
                            <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
                            <div id="error-message" class="text-danger mt-2" style="display: none;"></div> <!-- Mensaje de error -->
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer></footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="JS/script.js"></script>
    <script src="JS/loginScript.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>
</html>
